{% extends 'base.html' %}
% load crispy_forms_tags %}
{% block content %}
    <h1 class="mb-5">SignIn</h1>
    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert alert-info" role="alert">
                Your account doesn't have access to this page. To proceed,
                please login with an account that has access.
            </div>

        {% else %}

            <div class="alert alert-info" role="alert">
                Please login to see this page.
            </div>
        {% endif %}
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">{{ form.username.label_tag }}</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Enter password">
        </div>


        <input type="submit" class="btn btn-success" value="SignIn">
    </form>
    {% if form.errors %}

        <div class="alert alert-info" role="alert">
            Your username and password didn't match. Please try again
        </div>
    {% endif %}


{% endblock %}